footer {
    display: flex;
    position: fixed;
    bottom:0px;
    right: 0px;
    height: 20vmin;
    padding: 2vh 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:  3vmin;
    padding: 1vh 1vh;
}

footer p {
    margin: 0;
}

a {
    display: inline-block;
}

footer a:link, footer a:visited,
section a:link, section a:visited {
    color: #fc7c24;
    text-decoration: underline;

  }
  
  footer a:hover, footer a:active,
  section a:hover, section a:active  {
    background-color: #fc7c24;
    color: black;
    transition: 0.2s ease-in;
  }

  section ul li a {
    display: list-item;
    padding: 6px 9px;
  }

  section ul {
      display: table;
  }



    a.button:link, a.button:visited {
      color: white;
      background-color: black;
      padding: 8px 12px;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      margin-top: 5px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    

    a.button:hover, a.button:active  {
      background-color: #fc7c24;
    }  

img.woman {
    pointer-events: none;
    position:fixed;
    bottom:0px;
    height: 60vmin;
    left: 0px;
}

img.man {
    pointer-events: none;
    position:fixed;
    bottom:10vh;
    height: 80vmin;
    right: -5vmin;
}

img.whiteboard {
    pointer-events: none;
    height: 40vmin;
}


img.question {
    position:fixed;
    bottom:39vmin;
    left: 23vmin;
    width: 77vmin;
}

img.sectionimages {
    margin-top: 15px;
    max-width: 100%;
}

img.portrait {
    margin: 15px;
    width: 90%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.questiontxt {
    position:fixed;
    bottom:48vmin;
    left: 38vmin;
    width: 56vmin;
    font-size: 4.5vmin;
    height: 22vmin;
    text-align: center;
    vertical-align: middle;
    display:table;
  }

  div.questiontxt h1 {
    font-size: 4.5vmin;
    text-align: center;
    vertical-align: middle; 
    font-weight:normal;
  }

 #questionlink{
    position: relative;
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#questionlink:link, #questionlink:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #questionlink:hover, #questionlink:active {
    background-color: #fc7c24;
    transition: 1s ease-in-out;
  }

#recommendations {
    height: 3em;
    overflow:scroll;
    overflow-x: hidden;
    text-align: center;
}

body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;

    font-family: 'Raleway', sans-serif;
}
section ul {
    list-style-type: square;
  }


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-size: 6vmin;
}
  

  
ul.navbar li a {
    display: block;
    color: white;
    text-align: left;
    padding:  2vmin 3vmin;
    text-decoration: none;
}
  
ul.navbar li a:hover:not(.active) {
    background-color: #585858;
}
  
.active {
    background-color: #fc7c24;
}

.questionmark {
    pointer-events: none;
    position: fixed;
    animation-name: animation2;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 4.5vmin;
    bottom: 50vmin;
    opacity: 0;
    color: #fc7c24;
    text-align: right;
}

#qm5 {
    animation-delay: 5s;
    right: 25vmin;
    animation-duration: 20s;
}

#qm6 {
    animation-delay: 4s;
    right: 5vmin;
    animation-duration: 20s;
}

#qm7 {
    animation-delay: 6s;
    right: 20vmin;
    animation-duration: 20s;
}

#qm8 {
    animation-delay: 7s;
    right: 10vmin;
    animation-duration: 20s;
}

#qm9 {
    animation-delay: 9s;
    right: 15vmin;
    animation-duration: 20s;
}

#qm10 {
    animation-delay: 10s;
    right: 2vmin;
    animation-duration: 20s;
}

#qm11 {
    animation-delay: 14s;
    right: 10vmin;
    animation-duration: 20s;
}

#qm12 {
    animation-delay: 15s;
    right: 10vmin;
    animation-duration: 20s;
}
#qm13 {
    animation-delay: 16s;
    right: 10vmin;
    animation-duration: 20s;
}
#qm14 {
    animation-delay: 17s;
    right: 10vmin;
    animation-duration: 20s;
}
#qm15 {
    animation-delay: 13s;
    right: 10vmin;
    animation-duration: 20s;
}
#qm16 {
    animation-delay: 12s;
    right: 10vmin;
    animation-duration: 20s;
}
#qm17 {
    animation-delay: 11s;
    right: 10vmin;
    animation-duration: 20s;
}

#qm18 {
    animation-delay: 18s;
    right: 10vmin;
    animation-duration: 20s;
}

#qm19 {
    animation-delay: 19s;
    right: 10vmin;
    animation-duration: 20s;
}

#qm20 {
    animation-delay: 20s;
    right: 10vmin;
    animation-duration: 20s;
}

#qm21 {
    animation-delay: 21s;
    right: 10vmin;
    animation-duration: 20s;
}

#qm22 {
    animation-delay: 22s;
    right: 10vmin;
    animation-duration: 20s;
}

nav {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

section {
    padding: 15px;
    font-weight: 400;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.event {
    background-color: #fafafa;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

section:nth-child(odd) {
    background: #E0E0E0;
}

section.contactform {
    padding: 0px;
    padding-top: 15px;
}

iframe {
    padding: 0;
    width:100%;
}

  @keyframes animation2 {
    0%   {opacity: 0; bottom:50vmin;}
    15%  {opacity: 0.8; bottom:70vmin;}
    30% {opacity: 0; bottom:90vmin;}
  }

  @media (min-width:500px){
    /* For mobile phones: */
    ul.navbar li {
        float: left;
    }

    img.portrait {
        margin: 5px;
        width: 160px;
    }
  }

  @media (min-width: 800px) {
    /* For larger: */
    div.container {
        width: 60%;
        margin: auto;
    }
  }

@media only screen {
    html {
        -webkit-text-size-adjust: none;
    }
}


.fas .fab{
    margin:2px;
    font-size: 1em;
    color:  black;
}
