footer {
    display: flex;
    position: fixed;
    bottom:0px;
    right: 0px;
    height: 20vmin;
    padding: 2vh 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:  3vmin;
    padding: 1vh 1vh;
}

footer p {
    margin: 0;
}

footer a:link, footer a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  footer a:hover, footer a:active {
    background-color: #fc7c24;
    transition: 1s ease-in-out;
  }

img.woman {
    pointer-events: none;
    position:fixed;
    bottom:0px;
    height: 60vmin;
    left: 0px;
}

img.man {
    pointer-events: none;
    position:fixed;
    bottom:10vh;
    height: 80vmin;
    right: -5vmin;
}

img.whiteboard {
    pointer-events: none;
    height: 40vmin;
}


img.question {
    position:fixed;
    bottom:40vmin;
    left: 30vmin;
    width: 70vmin;
}

div.questiontxt {
    position:fixed;
    bottom:50vmin;
    left: 43vmin;
    width: 50vmin;
    font-size: 3.4vmin;
    height: 16vmin;
    text-align: center;
    vertical-align: middle;
    display:table;
  }

 #questionlink{
    position: relative;
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
}

#questionlink:link, #questionlink:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #questionlink:hover, #questionlink:active {
    background-color: #fc7c24;
    transition: 1s ease-in-out;
  }

body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-size: 6vmin;
}
  

  
li a {
    display: block;
    color: white;
    text-align: left;
    padding:  2vmin 3vmin;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #fc7c24;
}
  
.active {
    background-color: #fc7c24;
}

.questionmark {
    pointer-events: none;
    position: fixed;
    animation-name: animation1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 10vmin;
    bottom: 20vmin;
    opacity: 0;
    color: #fc7c24;;
}

#qm1 {
    animation-delay: 1s;
    left: 10vmin;
}

#qm2 {
    animation-delay: 2s;
    left: 20vmin;
}

#qm3 {
    animation-delay: 3s;
    left: 5vmin;
}

#qm4 {
    animation-delay: 4s;
    left: 25vmin;
}

#qm5 {
    animation-delay: 5s;
    left: 15vmin;
}

#qm6, #qm7, #qm8, #qm9, #qm10 {
    bottom: 50vmin;
    animation-name: animation2;
} 

#qm6 {
    animation-delay: 1s;
    right: 10vmin;
}

#qm7 {
    animation-delay: 2s;
    right: 20vmin;
}

#qm8 {
    animation-delay: 3s;
    right: 5vmin;
}

#qm9 {
    animation-delay: 4s;
    right: 25vmin;
}

#qm10 {
    animation-delay: 5s;
    right: 15vmin;
}
  
  @keyframes animation1 {
    0%   {opacity: 0; bottom:20vmin;}
    50%  {opacity: 0.8; bottom:40vmin;}
    100% {opacity: 0; bottom:60vmin;}
  }

  @keyframes animation2 {
    0%   {opacity: 0; bottom:50vmin;}
    50%  {opacity: 0.8; bottom:70vmin;}
    100% {opacity: 0; bottom:90vmin;}
  }

  @media (min-width:500px){
    /* For mobile phones: */
    li {
        float: left;
    }

  }

